

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" style="display:none" id="login"
data-logo-img='<%= image_url('bo-logo.png') %>'
data-perso-img='<%= image_url('perso-demo2.png') %>'
data-play-btn='<%= image_url('btn-play.png') %>'
data-settings-btn='<%= image_url('btn-settings.png') %>'
data-overlay-vid='<%= video_url('bo-overlay2.mp4') %>'
data-platform-png='<%= image_url('platform.png') %>'
>

<%# <div id="options">
  <%= render "pages/options" %>
<%# </div> %>
</div>

<div id='video_box'>
  <%= video_tag "bo-overlay2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>

<div class="gameScreen" id="intro">
</div>

<div class="gameScreen" id="game-assets"
data-sky-img='<%= image_path('sky.png') %>'
data-ground-img='<%= image_path('platform.png') %>'
data-star-img='<%= image_path('star.png') %>'
data-bomb-img='<%= image_path('bomb.png') %>'
data-dude-sprite='<%= image_path('dude.png') %>'
data-egyptian-sprite='<%= image_path('egyptian.png') %>'
data-map-json='<%= asset_path('jp_house.json')%>'
data-map-png='<%= asset_path('MainTileMap.png')%>'
>
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>

