

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" id="login"
data-logo-img='<%= image_url('bo-logo.png') %>'
data-spark-particle='<%= image_url('glow.png') %>'
data-perso1-img='<%= image_url('perso-demo1.png') %>'
data-perso2-img= '<%= image_url('perso-demo2.png') %>'
data-perso3-img= '<%= image_url('perso-demo3.png') %>'
data-perso4-img= '<%= image_url('perso-demo4.png') %>'
data-play-btn='<%= image_url('btn-play.png') %>'
data-settings-btn='<%= image_url('btn-settings.png') %>'
data-overlay-vid='<%= video_url('bo-overlay2.mp4') %>'
data-container-img='<%= image_url('container-settings.png') %>'
data-arrow-right-img= '<%= image_url('arrow-pixelart-right.png')%>'
data-arrow-left-img= '<%= image_url('arrow-pixelart-left.png')%>'
data-volume-img='<%= image_url('btn-volume.png')%>'
data-music-mp3='<%= audio_url('music-bo.mp3')%>'
data-controls-img='<%= image_url('controls.png') %>'
></div>

<div class="gameScreen" id="selectScreen"
data-map0-img='<%= image_path('tutorial.png') %>'
data-map1-img='<%= image_path('japanese_house.png') %>'
data-map2-img='<%= image_path('docks.png') %>'
>
</div>

<!-- data-platform-png='<%= image_url('platform.png') %>'
 -->


<%# <div id='video_box '>
  <%= video_tag "bo-overlay2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>




<div class="gameScreen" id="intro"
data-mute-img='<%=image_url('btn-mute.png')%>'
data-picture1i1-img='<%=image_url('intro-picture1_i1.png')%>'
data-picture2i1-img='<%=image_url('intro-picture2_i1.png')%>'
data-picture3i1-img='<%=image_url('intro-picture3_i1.png')%>'
data-picture4i1-img='<%=image_url('intro-picture4_i1.png')%>'
data-picture5i1-img='<%=image_url('intro-picture5_i1.png')%>'
data-intro-mp3='<%=audio_url('intro.mp3')%>'
data-picture1i2-img='<%=image_url('intro-picture1_i2.png')%>'
data-picture2i2-img='<%=image_url('intro-picture2_i2.png')%>'
data-picture3i2-img='<%=image_url('intro-picture3_i2.png')%>'
data-picture4i2-img='<%=image_url('intro-picture4_i2.png')%>'
data-picture5i2-img='<%=image_url('intro-picture5_i2.png')%>'
data-intro-mp3='<%=audio_url('intro.mp3')%>'
>
</div>

<div class="gameScreen" id="game-assets"
data-rain-particle='<%= image_path('rain.png') %>'
data-ground-img='<%= image_path('platform.png') %>'
data-blanknote-img='<%= image_path('blank-note.png') %>'
data-dockscluemap-img='<%= image_path('docks-clue-map.png') %>'
data-generator-img='<%= image_path('generator.png') %>'
data-warehouse-img='<%= image_path('warehouse-0.png') %>'
data-scratchticket-img='<%= image_path('scratch-ticket.png') %>'
data-electricity-img='<%= image_path('electricity.png') %>'
data-fuel-img='<%= image_path('fuel.png') %>'
data-digicode-img='<%= image_path('digicode.png') %>'
data-container-img='<%= image_path('container.png') %>'
data-character5-sprite='<%= image_path('spriteSheet3.png') %>'
data-character4-sprite='<%= image_path('spriteSheet2.png') %>'
data-character3-sprite='<%= image_path('spriteSheet.png') %>'
data-character2-sprite='<%= image_path('egyptian.png') %>'
data-character6-sprite='<%= image_path('agent.png') %>'
data-character7-sprite='<%= image_path('spriteSheet7.png') %>'
data-character8-sprite='<%= image_path('spriteSheet8.png') %>'
data-key-img='<%= image_path('key.png')%>'
data-keylock-img='<%= image_path('keylock.png')%>'
data-tv-img='<%= image_path('TV.png')%>'
data-computer-img='<%= image_path('Computer.png')%>'
data-ring-img='<%= image_path('ring.png')%>'
data-redbtn-img='<%= image_path('redBtn.png')%>'
data-map0-json='<%= asset_path('tutorial.json')%>'
data-map0-png='<%= asset_path('office_tiles.png')%>'
data-map1-json='<%= asset_path('jp_house.json')%>'
data-map1-png='<%= asset_path('MainTileMap.png')%>'
data-map2-json='<%= asset_path('city.json')%>'
data-map2-png='<%= asset_path('city.png')%>'
data-exit-img='<%= image_url('btn-exit.png')%>'
data-playagain-png='<%= image_url('btn-playAgain.png')%>'
data-character1-sprite='<%= image_path('policeman.png')%>'
data-winscreen-png='<%= image_url('winscreen.png')%>'
data-lossscreen-png='<%= image_url('lossScreen.png')%>'
data-door-mp3='<%= audio_url('door.mp3')%>'
data-watersteps-mp3='<%= audio_url('watersteps.mp3')%>'
>
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>
