

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" id="login"
data-logo-img='<%= image_path('bo-logo.png') %>'
data-perso-img='<%= image_path('perso-demo.png') %>'
data-play-btn='<%= image_path('btn-play.png') %>'
data-settings-btn='<%= image_path('btn-settings.png') %>'
data-overlay-vid='<%= video_path('bo-overlay2.mp4') %>'
></div>

<div id='video_box'>
  <%= video_tag "bo-overlay2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>

<!--
  <div id='container-firstpage'>
    <div id="container-logo">
      <%= image_tag('bo-logo.png') %>
    </div>

    <div id="container-session">
      <%= image_tag('perso-demo.png') %>
      <a href="">
        <%= image_tag('btn-play.png')  %>
      </a>
    </div>

    <div id="container-settings">
      <a href="">
        <%= image_tag('btn-settings')  %>
      </a>
    </div> -->
  <!-- </div> -->


<div class="gameScreen" id="intro">
</div>

<div class="gameScreen" id="game-assets"
data-sky-img='<%= image_path('sky.png') %>'
data-ground-img='<%= image_path('platform.png') %>'
data-star-img='<%= image_path('star.png') %>'
data-bomb-img='<%= image_path('bomb.png') %>'
data-dude-sprite='<%= image_path('dude.png') %>'
data-egyptian-sprite='<%= image_path('egyptian.png') %>'
data-map-json='<%= asset_path('jp_house.json')%>'
data-map-png='<%= asset_path('MainTileMap.png')%>'
>
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>

<div class="gameScreen" id="options">
  <%= render "pages/options" %>
</div>
