
<h1>Breaking Out</h1>
<p>If there's no way... make one!</p>

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" id="login">
</div>

<div class="gameScreen" id="intro">
</div>

<div class="gameScreen" id="game-assets"
data-sky-img='<%= image_path('sky.png') %>'
data-ground-img='<%= image_path('platform.png') %>'
data-star-img='<%= image_path('star.png') %>'
data-bomb-img='<%= image_path('bomb.png') %>'
data-dude-sprite='<%= image_path('dude.png') %>'
data-egyptian-sprite='<%= image_path('egyptian.png') %>' >
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>

<div class="gameScreen" id="options">
  <%= render "pages/options" %>
</div>
