

<div class="gameScreen" id="waitingScreen">
</div>

<div class="gameScreen" style="display:none" id="login"
data-logo-img='<%= image_url('bo-logo.png') %>'
data-perso-img='<%= image_url('perso-demo.png') %>'
data-play-btn='<%= image_url('btn-play.png') %>'
data-settings-btn='<%= image_url('btn-settings.png') %>'
data-overlay-vid='<%= video_url('bo-overlay2.mp4') %>'
data-container-img='<%= image_url('container-settings.png') %>'
data-volume-img='<%= image_url('btn-volume.png')%>'
data-music-mp3='<%= audio_url('music-bo.mp3')%>'
data-controls-img='<%= image_url('controls.png') %>'
></div>


<!-- data-platform-png='<%= image_url('platform.png') %>'
 -->


<div id='video_box '>
  <%= video_tag "bo-overlay2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "home_video" %>


<div class="gameScreen" id="intro"
data-mute-img='<%=image_url('btn-mute.png')%>'
data-picture1-img='<%=image_url('intro-picture1.png')%>'
data-picture2-img='<%=image_url('intro-picture2.png')%>'
data-picture3-img='<%=image_url('intro-picture3.png')%>'
data-picture4-img='<%=image_url('intro-picture4.png')%>'
data-picture5-img='<%=image_url('intro-picture5.png')%>'
data-intro-mp3='<%=audio_url('intro.mp3')%>'
>
</div>

<div class="gameScreen" id="game-assets"
data-sky-img='<%= image_path('sky.png') %>'
data-ground-img='<%= image_path('platform.png') %>'
data-dude-sprite='<%= image_path('dude.png') %>'
data-egyptian-sprite='<%= image_path('egyptian.png') %>'
data-key-img='<%= image_path('key.png')%>'
data-keylock-img='<%= image_path('keylock.png')%>'
data-tv-img='<%= image_path('TV.png')%>'
data-computer-img='<%= image_path('Computer.png')%>'
data-ring-img='<%= image_path('ring.png')%>'
data-redbtn-img='<%= image_path('redBtn.png')%>'
data-map-json='<%= asset_path('jp_house.json')%>'
data-map-png='<%= asset_path('MainTileMap.png')%>'
data-exit-img='<%= image_url('btn-exit.png')%>'
data-playagain-png='<%= image_url('btn-playAgain.png')%>'
data-policeman-sprite='<%= image_path('policeman.png')%>'
data-winscreen-png='<%= image_url('winscreen.png')%>'
data-lostscreen-png='<%= image_url('lostscreen.png')%>'
data-door-mp3='<%= audio_url('door.mp3')%>'

>
</div>

<div class="gameScreen" id="result">
  <%# render modal %>
</div>

